
Library/ArtifactDB
Library/CurrentLayout-default.dwlt
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/SourceAssetDB
Logs/AssetImportWorker0.log
Logs/shadercompiler-AssetImportWorker0.log
UserSettings/EditorUserSettings.asset
